.profile-bold {
  color:#f4f1ec;
  font-size: xx-large;
}

.name {
  display: flex;
  justify-content: center;
}


.container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin:auto ;
}

.main-header{
  background-color: #eca335;
  height: 400px;
  width: 100%;
  margin-top: 100px;
}

.profile {
  display: flex;
  justify-content: center;
}

.bold {
  font:bold;
}

