.profile-bold {
  font-size: xx-large;
}

.name {
  display: flex;
  justify-content: center;
}


.container-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  
}

.main-header{
  background-color: #eca335;
  height: 400px;
  width: 100%;
  margin-top: 120px;
  
}

.profile {
  display: flex;
  justify-content: center;
  /* position: relative; */
 
}

.bold {
  font:bold;
}

